<%- include("./partials/head.ejs") %>

<div id="grain"></div>

<header>
    <div class="container-logo-game-name">
        <div class="container-logo-text">
            <img id="logo" src="/assets/logo.png" alt="">
            <img id="logo-text" src="/assets/logo-text.png" alt="">
        </div>
        <p id="game-name-header"><%= field %>, <%= gameStatus %>, <%= division %></p>
    </div>
    <nav>
        <ul class="nav-ul" >
            <li class="nav-item">Teams</li>
            <li class="nav-item">Surveys</li>
            <li class="nav-item">VMix</li>
            <li class="nav-item">Tournaments <img class="arrow" src="/assets/arrow.svg" alt=""></li>
            <li class="nav-item">Admin <img class="arrow" src="/assets/arrow.svg" alt=""></li>
        </ul>
        <p id="admin-name"><%= playByPlayCommentatorName %> <img class="arrow" src="/assets/arrow.svg" alt=""></p>
    </nav>
</header>



<main>

<div class="container-score-board">
    <div class="container-flag-team-name">
        <div id="container-flag-team-name-1">
            <div id="container-flag-1">
                <img id="flag-1" src="https://flagsapi.com/<%= team1CountryISO2Code %>/flat/64.png" alt="">
            </div>
            <h1 id="team-name-1">(<%= team1CountryOlympicCode %>) <%= team1Name %></h1>
        </div>
        <div id="container-flag-team-name-2">
            <h1 id="team-name-2"><%= team2Name %> (<%= team2CountryOlympicCode %>)</h1>
            <div id="container-flag-2">
                <img id="flag-2" src="https://flagsapi.com/<%= team2CountryISO2Code %>/flat/64.png" alt="">
            </div>
        </div>
    </div>
    <div id="container-img-score">
        <img id="frisbee-man" src="/assets/man-frisbee-color-grey-lightgrey.png" alt="">
        <div id="container-score"></div>
        <p id="score"><%= scoredPoints[scoredPoints.length-1].team1Score %> - <%= scoredPoints[scoredPoints.length-1].team2Score %></p>
    </div>
</div>



<div class="container-tables">

<% 
    const bothTeams = [team1Players, team2Players] 
    bothTeams.forEach((team, index) => {
    let whichTeam = (index === 0) ? "-team1" : "-team2"
%>
<div class="container-table<%= whichTeam %>">
<table class="table<%= whichTeam %>">
<% team.forEach(player =>{ %>
    <% let gender = player.gender === "M" ? "-male" : "-female" %> 
    <tr class="table-row<%= whichTeam + gender %>">
        <% if(team1Players.some(player1 => player1.playerId === player.playerId)){ %>
            <td class="table-data-id-team1">
                <%= player.jerseyNumber %>
            </td>
        <% } %>
        <% if(team1Players.some(player1 => player1.playerId === player.playerId)){ %>
            <td class="table-data-name-team1">
                <%= player.name %>
            </td>
        <% } %>   
        <td class="table-data-information-team2">
            <% if(team2Players.some(player2 => player2.playerId === player.playerId) &&
            playersIndiv.some(playerIndiv => playerIndiv.id === player.playerId)){ %>
                    <small id="player" class="information-team2">i</small>
            <% } %>    
        </td>

        <td class="table-data-nums<%= whichTeam %>" id="player_stats">
            <ul class="ul-nums<%= whichTeam %>">
                <% 
                let count_goals_assists = nameBy =>{
                    return scoredPoints.filter(scoredPoint => scoredPoint[nameBy] === player.playerId).length
                } 
                let numGoals = count_goals_assists("scoredBy")
                let numAssists = count_goals_assists("assistBy")
                %>

                <% if(numGoals > 0){ %>
                    <li class="li-nums<%= whichTeam %>" id="goals">
                        <%= numGoals %>
                    </li>
                <% } %>
                <% if(numAssists > 0){ %>
                    <li class="li-nums<%= whichTeam %>" id="assists">
                        <%= numAssists %>
                    </li>
                <% } %>

                <% 
                let count_blocks_turnovers = (nameBy) =>{
                    return scoredPoints.filter(scoredPoint => scoredPoint[nameBy].some(idNameBy => idNameBy === player.playerId)).length;
                } 
                let numBlocks = count_blocks_turnovers("blockPlayers")
                let numTurnovers = count_blocks_turnovers("turnoverPlayers")
                %>

                <% if(numBlocks > 0){ %>
                    <li class="li-nums<%= whichTeam %>" id="blocks">
                        <%= numBlocks %>
                    </li>
                <% } %>
                <% if(numTurnovers > 0){ %>
                    <li class="li-nums<%= whichTeam %>" id="turnovers">
                        <%= numTurnovers %>
                    </li>
                <% } %>

                <li>
                    
                </li>
            </ul>
        </td>
        <td class="table-data-information-team1">
            <% if(team1Players.some(player1 => player1.playerId === player.playerId) &&
            playersIndiv.some(playerIndiv => playerIndiv.id === player.playerId)){ %>
                <small id="player" class="information-team1">i</small>
            <% } %>
        </td>

        <% if(team2Players.some(player2 => player2.playerId === player.playerId)){ %>
            <td class="table-data-name-team2">
                <%= player.name %>
            </td>
        <% } %>    
        <% if(team2Players.some(player2 => player2.playerId === player.playerId)){ %>
            <td class="table-data-id-team2">
                <%= player.jerseyNumber %>
            </td>
        <% } %>
    </tr>
<% }) %>
</table>
</div>
<% }) %>


<div class="container-legend-table">

    <div class="container-table-score">

        <div class="container-points-stats-config">
            <button class="points-stats-config" id="points">Points
            </button>
            <button class="points-stats-config" id="stats">Stats
            </button>
            <button class="points-stats-config" id="config">Config
            </button>
        </div>

        <table class="table-scored-points all_blocks" id="points_block">
            <thead>
                <tr class="table-row-header-scored-points">
                    <th class="table-header-team1">Pass</th>
                    <th class="table-header-team1">Turn</th>
                    <th class="table-header-team1">o/d</th>
                    <th class="table-header-score">Score</th>
                    <th class="table-header-team2">o/d</th>
                    <th class="table-header-team2">Turn</th>
                    <th class="table-header-team2">Pass</th>
                </tr>
            </thead>
        <% scoredPoints.forEach(SP =>{ %>
            <tr class="table-row-data-scored-points">
                <td class="table-data-team1 <%= SP.team1Class %>"><%= SP.team1Passes %></td>
                <td class="table-data-team1 <%= SP.team1Class %>"><%= SP.team1Turnovers %></td>
                <td class="table-data-team1 <%= SP.team1Class %>"><%= SP.team1OorD.toLowerCase() %></td>
                <td class="table-data-score"><%= SP.team1Score %> - <%= SP.team2Score %></td>
                <td class="table-data-team2 <%= SP.team2Class %>"><%= SP.team2OorD.toLowerCase() %></td>
                <td class="table-data-team2 <%= SP.team2Class %>"><%= SP.team2Turnovers %></td>
                <td class="table-data-team2 <%= SP.team2Class %>"><%= SP.team2Passes %></td>
            </tr>
        <% }) %>
        </table> 

        <div id="stats_block" class="all_blocks">
            Put stats here
        </div>

        <div id="config_block" class="all_blocks">
            <form>
                <input type="checkbox" id="checkbox_player_stats" checked>
                <label for="checkbox_player_stats">Show player stats</label>    
                <input type="checkbox" id="checkbox_legend" checked>
                <label for="checkbox_legend">Show legend</label>    
            </form>
        </div>
        

        
        <% playersIndiv.forEach(playerIndiv =>{ %>

            <div id="player_block" class="all_blocks">
                <% playerIndiv.info.forEach(playerInfo => { %>
                    <div id="container_question_answer">
                            <span id="player_question">
                                <%= playerInfo.question %>:&nbsp;
                            </span>
                            <span id="player_answer">
                                <%= playerInfo.answer %> <br>
                            </span>
                    </div>
                <% }) %>

            </div>
            
        <% }) %>

        
    </div>


    <div class="container-legend">
        <ul class="legend-list">
            <li class="legend-item" id="goals">Goals</li>
            <li class="legend-item" id="assists">Assists</li>
            <li class="legend-item" id="blocks">Blocks</li>
            <li class="legend-item" id="turnovers">Turnovers</li>
        </ul>    
    </div>

</div>




</div>
</main>

<%- include("./partials/foot.ejs") %>